<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ce241898-32f1-4f81-b06e-565ae7e887a4/resourcegroups/test/providers/Microsoft.Web/sites/ChoiceofaNationWebAPI20250206141925</ResourceId>
    <ResourceGroup>test</ResourceGroup>
    <ApiResourceId>/subscriptions/ce241898-32f1-4f81-b06e-565ae7e887a4/resourceGroups/test/providers/Microsoft.ApiManagement/service/cn-api-man/apis/ChoiceofaNationWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://choiceofanationwebapi20250206141925.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>05b13709-4c4b-40e9-a892-63704f8adfd8</ProjectGuid>
    <MSDeployServiceURL>choiceofanationwebapi20250206141925.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChoiceofaNationWebAPI20250206141925</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ChoiceofaNationWebAPI20250206141925</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>